<template>
	<div class="contents">
		<div class="blog-header">
			<div class="container">
	          	<div class="col-md-10" style="padding:0px;">	
		          	<h1 class="blog-title" style="font-size: 22px;">Купить ключ для игры {{row.title}}</h1>
		          	<nav aria-label="breadcrumb" role="navigation">
					  <ol class="breadcrumb" style="background:transparent;padding:0px;">
					    <li class="breadcrumb-item"><nuxt-link to="/">Главная</nuxt-link></li>
					    <li class="breadcrumb-item" aria-current="page"><nuxt-link to="/shop">Магазин игр</nuxt-link></li>
					    <li class="breadcrumb-item active" aria-current="page">Купить ключ для игры {{row.title}}</li>
					  </ol>
					</nav>
	        	</div>
	        </div>
		</div>
		<div class="main">
			<div class="row">
				<div class="col-md-8 left-block">
                    <div v-if="typeof row.params.screenshots!=='undefined'">
						<div style="margin-top:10px" id="carouselExampleControls" class="carousel slide" data-ride="carousel">
						  <ol class="carousel-indicators">
						    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
						    <li data-target="#carouselExampleIndicators" data-slide-to="i" v-for="(v,i) of row.params.screenshots" v-if="i>0"></li>
						   
						  </ol>	
						  <div class="carousel-inner">
						    <div class="carousel-item active">
						      <img class="d-block w-100" :src="row.params.screenshots[0].path_full" alt="First slide">
						    </div>
						    <div class="carousel-item" v-for="(v,i) of row.params.screenshots" v-if="i>0">
						      <img class="d-block w-100" :src="v.path_full" alt="Second slide">
						    </div>
						   
						  </div>
						  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
						    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
						    <span class="sr-only">Previous</span>
						  </a>
						  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
						    <span class="carousel-control-next-icon" aria-hidden="true"></span>
						    <span class="sr-only">Next</span>
						  </a>
						</div>
					</div>
                    <div class="card" style="max-width:400px;margin:10px auto;">
					  <div class="card-body">
					    <h5 class="card-title" v-html="row.title"></h5>
                        <p style="padding-top:10px;margin-bottom:0px">
                            <div class="text-muted">Старая цена: {{row.params.price_overview ? row.params.price_overview.initial/100 : 0}} руб.</div>
                            <div>Текущая цена: {{row.price}} руб</div>
                            <div>Скидка: {{row.percent}}%</div>
                        </p>
					    <a :href="'https://store.steampowered.com/app/'+row.steam_id+'/'+row.slug" target="_blank" class="btn btn-primary">Перейти в стим</a>
					    
					  </div>
					</div>
                    <div v-html="row.params['about_the_game']" style="padding:10px 0px"></div>
                    <div v-html="row.params['pc_requirements'].minimum" style="padding:10px 0px"></div>
                    <div v-html="row.params['pc_requirements'].recommended" style="padding:10px 0px"></div>
                </div>
				<div class="col-md-4">
					<rightPanel/>
				</div>
			</div>
		</div>
    </div>
</template>	
<script>
	/* eslint-disable */
	import axios from 'axios'
	import rightPanel from '~/components/rightPanel.vue'
	export default {
		layout: 'default',
		asyncData ({ params, error }) {
			return axios.get(`steam/${params.id}`)
			.then((res) => {
			  return { row: res.data}
			})
			.catch((e) => {
			  error({ statusCode: 404, message: 'Post not found' })
			})
		},
		components:{
			rightPanel
		},
		data() {
        	return {
        		row: {},
        		description:'',
        	}
        },
        mounted () {
        	if(this.row.params.description!==''){
        		this.description=this.row.params['about_the_game']
        	}else{
        		this.description=''
        	}
        },
        methods: { 

        },
        head () {
			return {
				title: 'Купить ключ для игры '+this.row.title,
				meta: [
					{ hid: 'description', name: 'description', content: this.row.params['about_the_game'] },
					{ hid: 'keywords', name: 'keywords', content:this.row.params.keywords} 
				]
			}
		}
	}
</script>
<style>
	.card{margin-bottom:10px;padding:0px;}	
	.v-images, .v-text{height:153px;overflow:hidden;padding:0px}
	.card-title,.card-text{ width: 100%;padding: 0px 2.5px;}

</style>            