<template>
	<div class="contents">
		<div class="blog-header">
			<div class="container">
	          	<div class="col-md-10" style="padding:0px;">	
		          	<h1 class="blog-title" style="font-size: 22px;">Скидки на игры</h1>
		          	<nav aria-label="breadcrumb" role="navigation">
					  <ol class="breadcrumb" style="background:transparent;padding:0px;">
					    <li class="breadcrumb-item"><nuxt-link to="/">Главная</nuxt-link></li>
					    <li class="breadcrumb-item active" aria-current="page">Скидки на игры</li>
					  </ol>
					</nav>
	        	</div>
	        </div>
		</div>
        <div class="main">
			<div class="row">
				<div class="col-xs-8 col-md-8 left-block">
					<div class="row"  style="padding:10px">	
                        <div>
                        <p>Текущие скидки в Steam, отсортированные с учетом выгодности акции, а также актуальности и популярности игры. Мы упорядочили все скидки Steam, чтобы вы не пропустили ничего интересного, как это может случиться в магазине Стим, где приходится листать страницы, пропуская малоизвестные игры. Кроме того, у нас можно увидеть игры, распродающиеся в других магазинах даже дешевле, чем на распродажах Steam.</p>
                        <p>Сейчас в Steam распродается {{row.total ? row.total : 0}} игры.<br/></p>
                        </div>
                        <div>
                            <table cellspacing="2" border="1" cellpadding="5" width="600">
                                <thead>
                                    <th class="th-title">Название игры</th>
                                    <th class="th-sale">Скидка</th>
                                    <th class="th-price">Цена</th>
                                    
                                </thead>
                                <tbody>
                                    <tr v-for="(r,i) of row.data">
                                        <td class="title">
                                            <div class="card-title"><nuxt-link :to="'/sales/'+r.slug" v-html="r.title"></nuxt-link></div>
                                            <div>
                                                <span v-if="r.params.platforms.windows">
                                                    <img src="https://cdn4.iconfinder.com/data/icons/proglyphs-free/512/Windows_alt-512.png" width="20" height="20" alt="microsoft, windows icon" title="Windows">&nbsp;
                                                </span>
                                                <span v-if="r.params.platforms.linux">
                                                    <img src="https://cdn3.iconfinder.com/data/icons/popular-services-brands-vol-2/512/steam-512.png" width="18" height="18" alt="circle, gaming, round icon, steam icon" title="Linux">&nbsp;
                                                </span>
                                                <span v-if="r.params.platforms.mac">
                                                    <img src="https://cdn3.iconfinder.com/data/icons/picons-social/57/16-apple-512.png" width="20" height="20" alt="apple icon" title="MacOs">
                                                </span>
                                            </div>
                                            <div>
                                                <span v-for="(g,j) of r.params.genres">
                                                    {{g.description}}<span v-if="j < r.params.genres.length-1">, </span>
                                                </span>
                                            </div>
                                            
                                        </td>
                                        <td class="sale">{{r.percent}}%</td>
                                        <td class="price">
                                            <span class="old">{{r.params.price_overview ? r.params.price_overview.initial/100 : 0}} руб.</span></br>
                                            <span class="new">{{r.price}} руб.</span>
                                        </td>
                                        
                                    </tr>
                                </tbody>
                            </table>
                        </div>    
                    </div>
                </div>
                <div class="col-md-4">
					<div class="card game-filter" style="margin-top:10px">
					  <div class="card-body">
					  	<h5>Название игры</h5>
					    <form>
					    	
					    	<div class="form-group">
						    	<input class="form-control mr-sm-2" type="text" placeholder="Введите запрос" aria-label="Search" v-model="title">
						  	</div>
			            	<div class="form-group">
			           			<button class="btn btn-outline-primary btn-block my-2 my-sm-0" type="button" @click="searchTitle()">Найти</button>
			           		</div>
			           		<a href="/sales">Сбросить поиск</a>
			          	</form>
					  </div>
					</div>
		        	<div class="card game-filter">
			        	<h5>Цена</h5>
					    <ul class="list-group" style="background:transparent">
					        <li class="list-group-item"><a @click="searchPrice(0,100)" class="widget-active">0 - 100 руб.</a></li>
					        <li class="list-group-item"><a @click="searchPrice(100,200)">100 - 200 руб.<span class="ti-close pull-right"></span></a></li>
					        <li class="list-group-item"><a @click="searchPrice(300,500)">300 - 500 руб.<span class="ti-close pull-right"></span></a></li>
					        <li class="list-group-item"><a @click="searchPrice(500,1000)">500 - 1000 руб.<span class="ti-close pull-right"></span></a></li>
					        <li class="list-group-item"><a @click="searchPrice(1000)">от 1000 руб.<span class="ti-close pull-right"></span></a></li>
					    </ul>
		        	</div>
		        	<div class="card game-filter">
			        	<h5>Жанр</h5>
						<ul class="list-group">
					        <li class="list-group-item"><a @click="searchGenre('Action')" class="widget-active">Экшен</a></li>
					        <li class="list-group-item"><a @click="searchGenre('Racing')">Гонки<span class="ti-close pull-right"></span></a></li>
					        <li class="list-group-item"><a @click="searchGenre('Indie')">Инди<span class="ti-close pull-right"></span></a></li>
					        <li class="list-group-item"><a @click="searchGenre('RPG')">Ролевые<span class="ti-close pull-right"></span></a></li>
					        <li class="list-group-item"><a @click="searchGenre('Strategy')">Стратегии<span class="ti-close pull-right"></span></a></li>
					        <li class="list-group-item"><a @click="searchGenre('Sports')">Спорт<span class="ti-close pull-right"></span></a></li>
					        <li class="list-group-item"><a @click="searchGenre('Early Access')">Early Access<span class="ti-close pull-right"></span></a></li>
					        <li class="list-group-item"><a @click="searchGenre('Simulation')">Симуляторы<span class="ti-close pull-right"></span></a></li>
					        <li class="list-group-item"><a @click="searchGenre('Adventure')">Приключения<span class="ti-close pull-right"></span></a></li>
					        <li class="list-group-item"><a @click="searchGenre('Casual')">Казуальные<span class="ti-close pull-right"></span></a></li>
					        <li class="list-group-item"><a @click="searchGenre('Free to Play')">Free to Play<span class="ti-close pull-right"></span></a></li>
					    </ul>
		        	</div>
      				<div class="card game-filter">
      					<h5>ОС</h5>
				      	<ul class="list-group">
				        	<li class="list-group-item"><a @click="searchOS('Windows')" class="widget-active">Windows</a></li>
				        	<li class="list-group-item"><a @click="searchOS('Linux')">Linux<span class="ti-close pull-right"></span></a></li>
				        	<li class="list-group-item"><a @click="searchOS('Mac')">MacOs<span class="ti-close pull-right"></span></a></li>
				      	</ul>	
      				</div>
					<!--<rightPanel/>-->
				</div>
            </div>
            <div class="row"  style="padding:10px">
                <div class="col-xs-12">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item active" v-if="row.current_page===1">
                                <a class="page-link" @click="pager(1)">1</a>
                            </li>
                            <li class="page-item" v-else>
                                <a class="page-link" @click="pager(1)">1</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="" v-if="row.current_page>2">...</a></li>
                            <li class="page-item" v-if="(row.current_page-2)>1"><a class="page-link" @click="pager(row.current_page-2)">{{row.current_page-2}}</a></li>
                            <li class="page-item" v-if="(row.current_page-1)>1"><a class="page-link" @click="pager(row.current_page-1)">{{row.current_page-1}}</a></li>
                            <li class="page-item active" v-if="row.current_page>1 && row.current_page<row.last_page" ><a class="page-link" @click="pager(row.current_page)">{{row.current_page}}</a></li>
                            <li class="page-item" v-if="(row.current_page+1)<row.last_page"><a class="page-link" @click="pager(row.current_page+1)">{{row.current_page+1}}</a></li>
                            <li class="page-item" v-if="(row.current_page+2)<row.last_page"><a class="page-link" @click="pager(row.current_page+2)">{{row.current_page+2}}</a></li>
                            <li class="page-item" v-if="(row.last_page-4)>row.current_page"><a class="page-link" href="">...</a></li>
                            <li class="page-item active" v-if="row.current_page===row.last_page && row.last_page>1"><a class="page-link" :href="'?page='+row.last_page">{{row.last_page}}</a></li>
                            <li class="page-item" v-else-if="row.last_page>1"><a class="page-link" @click="pager(row.last_page)">{{row.last_page}}</a></li>	
                        </ul>
                    </nav>
                </div>
            </div>		
        </div>            
    </div>
</template>	

<script>
	/* eslint-disable */
	const querystring = require('querystring');
	import axios from 'axios'
    import rightPanel from '~/components/rightPanel.vue'
    
    export default {
        layout: 'default',
        components:{
			rightPanel
        },
        data() {
        	return {
        		row: {},
        		page: this.$route.query.page,
        		search:this.$route.query.search,
      			title:this.$route.query.title || '',
        	}
        },
        created (){
    		this.getContent()
        },
        methods: { 
        	watchGo(slug){
        		this.$router.push('/sales/'+slug)
            },
            pager(page){
        		this.$route.query.page=page
			    var query = querystring.stringify(this.$route.query)
			    history.pushState('', 'page','?'+query)
			    this.getContent()
		    },	
            getContent(){
      			let queryString = '?active&sale&'+querystring.stringify(this.$route.query);	
		    	axios.get('steam'+queryString).then(res=>{
		        	this.row=res.data
		    	})
            },
            searchPrice(min=0,max=10000){
		      this.$route.query.min_price=min
		      this.$route.query.max_price=max
		      this.$route.query.page=1
		      var query = querystring.stringify(this.$route.query)
		      history.pushState('', 'page','?'+query)
		      this.getContent()
		    },
		    searchGenre(genre=''){
		      this.$route.query.genre=genre
		      this.$route.query.page=1
		      var query = querystring.stringify(this.$route.query)
		      history.pushState('', 'page','?'+query)
		      this.getContent()
		    },
		    searchActivation(activation=''){
		      this.$route.query.activation=activation
		      this.$route.query.page=1
		      var query = querystring.stringify(this.$route.query)
		      history.pushState('', 'page','?'+query)
		      this.getContent()
		    }, 
		    searchOS(os=''){
		      this.$route.query.platform=os
		      this.$route.query.page=1
		      var query = querystring.stringify(this.$route.query)
		      history.pushState('', 'page','?'+query)
		      this.getContent()
		    }, 
		    searchTitle(){
		      this.$route.query.title=this.title
		      this.$route.query.page=1
		      var query = querystring.stringify(this.$route.query)
		      history.pushState('', 'page','?'+query)
		      this.getContent()
		    },   
		    searchClear(){
		      this.$router.push('/sales')
		      location.reload(true)
		      this.getContent()
		    },    
        }     
    }
</script>
<style scoped>
th {padding:5px 5px; text-align: center;}
tr {padding: 10px;}
.title{width:430px}
.th-title{width:430px}
.th-price{width:100px}
td{padding: 5px 10px;}
.sale{text-align: center}
.price{text-align:right; width:100px}
.new{color:green}
.old{text-decoration:line-through; color:red}
.page-item{cursor:pointer;}
.card{margin-bottom:10px;padding:0px;cursor:pointer;}	
.card-body{padding:0px;}
.card-title{margin-bottom:0px}
.card-title a, h5 a{color: #000;text-decoration:none;font-weight:800;}
.v-images, .v-text{height:133px;overflow:hidden;padding:0px}
.g-ytsubscribe{width:100%}
.page-item{cursor:pointer;}
@media (max-width:600px){
    .v-text{
        padding: 0px 15px !important;
    }
}
.game-filter{width:100%;padding:10px 0px;cursor:pointer;padding-bottom: 0px;}
.game-filter form{padding:5px 15px;}
.game-filter h5{padding:5px 15px;}
.game-filter .list-group-item{border-radius:0px}
.windows{
    background-image: url(https://steamstore-a.akamaihd.net/public/images/v6/icon_platform_win.png?v=3);
}
</style>    