<template>
	<div class="contents">
		<div class="blog-header">
			<div class="container">
	          	<div class="col-md-10" style="padding:0px;">	
		          	<h1 class="blog-title" style="font-size: 22px;">Купить ключ для игры {{row.params.title}}</h1>
		          	<nav aria-label="breadcrumb" role="navigation">
					  <ol class="breadcrumb" style="background:transparent;padding:0px;">
					    <li class="breadcrumb-item"><nuxt-link to="/">Главная</nuxt-link></li>
					    <li class="breadcrumb-item" aria-current="page"><nuxt-link to="/shop">Магазин игр</nuxt-link></li>
					    <li class="breadcrumb-item active" aria-current="page">Купить ключ для игры {{row.params.title}}</li>
					  </ol>
					</nav>
	        	</div>
	        </div>
		</div>
		<div class="main">
			<div class="row">
				<div class="col-md-8 left-block">
					<div v-if="typeof row.params.attachment.images!=='undefined'">
						<div style="margin-top:10px" id="carouselExampleControls" class="carousel slide" data-ride="carousel">
						  <ol class="carousel-indicators">
						    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
						    <li data-target="#carouselExampleIndicators" data-slide-to="i" v-for="(v,i) of row.params.attachment.images" v-if="i>0"></li>
						   
						  </ol>	
						  <div class="carousel-inner">
						    <div class="carousel-item active">
						      <img class="d-block w-100" :src="row.params.attachment.images[0]" alt="First slide">
						    </div>
						    <div class="carousel-item" v-for="(v,i) of row.params.attachment.images" v-if="i>0">
						      <img class="d-block w-100" :src="v" alt="Second slide">
						    </div>
						   
						  </div>
						  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
						    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
						    <span class="sr-only">Previous</span>
						  </a>
						  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
						    <span class="carousel-control-next-icon" aria-hidden="true"></span>
						    <span class="sr-only">Next</span>
						  </a>
						</div>
					</div>
					<div class="card" style="width:325px;margin:10px auto;">
					  <div class="card-body">
					    <h5 class="card-title" v-html="'Купить '+row.params.title"></h5>
					    <a :href="'http://www.oplata.info/asp/pay_wm.asp?id_d='+row.params.sbid+'&ai=427969'" class="btn btn-primary" v-if="row.params.available===1">{{row.params.price}} руб.</a>
					    <button v-else type="button" class="btn btn-secondary" disabled>Товар закончился</button>
					    <p class="text-muted" style="padding-top:10px;margin-bottom:0px">Цена без учета персональной скидки</p>
					  </div>
					</div>

					<div v-html="row.params.description" style="padding:10px 0px"></div>
					<div style="font-size:14px;font-weight: 800;">Системные требования</div>
					<div class="row" style="padding:10px;">
						<div class="col-md-12" style="padding:10px;" v-for="a of row.params.additional">
							<div v-html="a"></div>
						</div>
					</div>
					<div class="col-sm-12 col-md-12"><h3 class="block-heading">Инструкция по активации:</h3><ol class="tovar-activation-list"><li>Если не установлен Steam клиент, <a href="http://store.steampowered.com/about/" target="_blank">скачайте</a> и установите его.</li><li>Войдите в свой аккаунт Steam или <a href="https://store.steampowered.com/login/">зарегистрируйте</a> новый, если у вас его еще нет.</li><li>Перейдите в раздел «Игры» и выберите там «Активировать через Steam...».</li><li>Введите ключ активации (для его получения необходимо <strong>купить {{row.params.title}}</strong>).</li><li>После этого игра отобразится в разделе «Библиотека», и вы сможете <strong><noindex>скачать</noindex> {{row.params.title}}</strong>.</li><br> <p style="color:red; font-size: 10px">ВНИМАНИЕ! Способ передачи игры покупателю (ключ или гифт) может меняться без предварительного предупреждения. Вы в любом случае получаете игру на свой STEAM-аккаунт. </p> </ol></div>
				<div class="col-sm-12 col-md-12"><p>* This product can be activated and played only in: Russia, Ukraine, Azerbaijan, Belarus, Kazakhstan, Kyrgyzstan, Tajikistan, Turkmenistan</p>
<p>* Активировать и играть в данный продукт можно только на территории России, Украины, Азербайджана, Беларуси, Казахстана, Киргизии, Таджикистана, Туркменистана.</p></div>
				<adsbygoogle />	
				</div>
				<div class="col-md-4">
					<rightPanel/>
				</div>
			</div>
		</div>
	</div>
</template>	
<script>
	/* eslint-disable */
	import axios from 'axios'
	import rightPanel from '~/components/rightPanel.vue'
	export default {
		layout: 'default',
		asyncData ({ params, error }) {
			return axios.get(`gameshop/${params.id}`)
			.then((res) => {
			  return { row: res.data}
			})
			.catch((e) => {
			  error({ statusCode: 404, message: 'Post not found' })
			})
		},
		components:{
			rightPanel
		},
		data() {
        	return {
        		row: {},
        		description:'',
        	}
        },
        mounted () {
        	console.log(this.row)
        	if(this.row.params.description!==''){
        		this.description=this.row.params.description
        	}else{
        		this.description=''
        	}
        },
        methods: { 

        },
        head () {
			return {
				title: 'Купить ключ для игры '+this.row.params.title,
				meta: [
					{ hid: 'description', name: 'description', content: this.row.params.description },
					{ hid: 'keywords', name: 'keywords', content:this.row.params.keywords} 
				]
			}
		}
	}
</script>
<style>
	.card{margin-bottom:10px;padding:0px;}	
	.v-images, .v-text{height:153px;overflow:hidden;padding:0px}
	.card-title,.card-text{ width: 100%;padding: 0px 2.5px;}

</style>