<template>
	<div class="contents">
		<div class="blog-header">
			<div class="container">
	          	<div class="col-md-10" style="padding:0px;">	
		          	<h1 class="blog-title" style="font-size: 22px;">Магазин игр</h1>
		          	<nav aria-label="breadcrumb" role="navigation">
					  <ol class="breadcrumb" style="background:transparent;padding:0px;">
					    <li class="breadcrumb-item"><nuxt-link to="/">Главная</nuxt-link></li>
					    <li class="breadcrumb-item active" aria-current="page">Магазин игр</li>
					  </ol>
					</nav>
	        	</div>
	        </div>
		</div>
		<div class="main">
			<div class="row">
				<div class="col-xs-8 col-md-8 left-block">
					<div class="row"  style="padding:10px">	
						<div class="card" v-for="(r,i) of row.data">
						    <div class="card-body main-card">
							    <div class="row">
						        	<div class="col-md-5">
						        		<div class="v-images">
						        			<img :src="r.params.attachment.preview" style="width:100%;" :alt="'Купить игру '+r.params.title+' за '+r.params.price+' руб.'">
						        		</div>
						        	</div>
						        	<div class="col-md-7 v-text">
						        		<div style="width:100%;padding-right:10px">
							        		<h2 style="font-size:1.17em;" 	class="card-title"><nuxt-link :to="'/shop/'+r.params.slug" v-html="'Купить игру '+r.params.title+' за '+r.params.price+' руб.'"></nuxt-link></h2>
							        		<p class="card-text" v-html="r.params.description"></p>
						      			</div>
						      		</div>
						     	</div>
						    </div>	
						</div>
					</div>	
					<div class="row"  style="padding:10px">
						<div class="col-xs-12">
							<nav aria-label="Page navigation example">
								<ul class="pagination">
									<li class="page-item active" v-if="row.current_page===1">
										<a class="page-link" @click="pager(1)">1</a>
									</li>
									<li class="page-item" v-else>
										<a class="page-link" @click="pager(1)">1</a>
									</li>
									<li class="page-item"><a class="page-link" href="" v-if="row.current_page>2">...</a></li>
									<li class="page-item" v-if="(row.current_page-2)>1"><a class="page-link" @click="pager(row.current_page-2)">{{row.current_page-2}}</a></li>
									<li class="page-item" v-if="(row.current_page-1)>1"><a class="page-link" @click="pager(row.current_page-1)">{{row.current_page-1}}</a></li>
									<li class="page-item active" v-if="row.current_page>1 && row.current_page<row.last_page" ><a class="page-link" @click="pager(row.current_page)">{{row.current_page}}</a></li>
									<li class="page-item" v-if="(row.current_page+1)<row.last_page"><a class="page-link" @click="pager(row.current_page+1)">{{row.current_page+1}}</a></li>
									<li class="page-item" v-if="(row.current_page+2)<row.last_page"><a class="page-link" @click="pager(row.current_page+2)">{{row.current_page+2}}</a></li>
									<li class="page-item" v-if="(row.last_page-4)>row.current_page"><a class="page-link" href="">...</a></li>
									<li class="page-item active" v-if="row.current_page===row.last_page && row.last_page>1"><a class="page-link" :href="'?page='+row.last_page">{{row.last_page}}</a></li>
									<li class="page-item" v-else-if="row.last_page>1"><a class="page-link" @click="pager(row.last_page)">{{row.last_page}}</a></li>	
								</ul>
							</nav>
						</div>
					</div>				
				</div>
				<div class="col-md-4">
					<div class="card game-filter" style="margin-top:10px">
					  <div class="card-body">
					  	<h5>Название игры</h5>
					    <form>
					    	
					    	<div class="form-group">
						    	<input class="form-control mr-sm-2" type="text" placeholder="Введите запрос" aria-label="Search" v-model="title">
						  	</div>
			            	<div class="form-group">
			           			<button class="btn btn-outline-primary btn-block my-2 my-sm-0" type="button" @click="searchTitle()">Найти</button>
			           		</div>
			           		<a href="/shop">Сбросить поиск</a>
			          	</form>
					  </div>
					</div>
		        	<div class="card game-filter">
			        	<h5>Цена</h5>
					    <ul class="list-group" style="background:transparent">
					        <li class="list-group-item"><a @click="searchPrice(0,100)" class="widget-active">0 - 100 руб.</a></li>
					        <li class="list-group-item"><a @click="searchPrice(100,200)">100 - 200 руб.<span class="ti-close pull-right"></span></a></li>
					        <li class="list-group-item"><a @click="searchPrice(300,500)">300 - 500 руб.<span class="ti-close pull-right"></span></a></li>
					        <li class="list-group-item"><a @click="searchPrice(500,1000)">500 - 1000 руб.<span class="ti-close pull-right"></span></a></li>
					        <li class="list-group-item"><a @click="searchPrice(1000)">от 1000 руб.<span class="ti-close pull-right"></span></a></li>
					    </ul>
		        	</div>
		        	<div class="card game-filter">
			        	<h5>Жанр</h5>
						<ul class="list-group">
					        <li class="list-group-item"><a @click="searchGenre('Экшен')" class="widget-active">Экшен</a></li>
					        <li class="list-group-item"><a @click="searchGenre('Гонки')">Гонки<span class="ti-close pull-right"></span></a></li>
					        <li class="list-group-item"><a @click="searchGenre('Инди')">Инди<span class="ti-close pull-right"></span></a></li>
					        <li class="list-group-item"><a @click="searchGenre('Ролевые')">Ролевые<span class="ti-close pull-right"></span></a></li>
					        <li class="list-group-item"><a @click="searchGenre('Стратегии')">Стратегии<span class="ti-close pull-right"></span></a></li>
					        <li class="list-group-item"><a @click="searchGenre('Спорт')">Спорт<span class="ti-close pull-right"></span></a></li>
					        <li class="list-group-item"><a @click="searchGenre('Онлайн')">Онлайн<span class="ti-close pull-right"></span></a></li>
					        <li class="list-group-item"><a @click="searchGenre('Симуляторы')">Симуляторы<span class="ti-close pull-right"></span></a></li>
					        <li class="list-group-item"><a @click="searchGenre('Приключения')">Приключения<span class="ti-close pull-right"></span></a></li>
					        <li class="list-group-item"><a @click="searchGenre('Казуальные')">Казуальные<span class="ti-close pull-right"></span></a></li>
					        <li class="list-group-item"><a @click="searchGenre('Файтинги')">Файтинги<span class="ti-close pull-right"></span></a></li>
					    </ul>
		        	</div>
		        	<div class="card game-filter">
		        		<h5>Активация</h5>
				      	<ul class="list-group">
					        <li class="list-group-item"><a @click="searchActivation('Uplay')" class="widget-active">Uplay</a></li>
					       	<li class="list-group-item"><a @click="searchActivation('Steam')">Steam<span class="ti-close pull-right"></span></a></li>
					        <li class="list-group-item"><a @click="searchActivation('Origin')">Origin<span class="ti-close pull-right"></span></a></li>
					        <!--<li><a @click="searchActivation('PSN')">PSN<span class="ti-close pull-right"></span></a></li>
					        <li class="list-group-item"><a @click="searchActivation('GOG')">GOG<span class="ti-close pull-right"></span></a></li>
					        <li class="list-group-item"><a @click="searchActivation('Xbox')">Xbox<span class="ti-close pull-right"></span></a></li>-->
					        <li class="list-group-item"><a @click="searchActivation('Rockstar')">Rockstar<span class="ti-close pull-right"></span></a></li>
				      	</ul>			
				    </div>
      				<div class="card game-filter">
      					<h5>ОС</h5>
				      	<ul class="list-group">
				        	<li class="list-group-item"><a @click="searchOS('Windows')" class="widget-active">Windows</a></li>
				        	<li class="list-group-item"><a @click="searchOS('Linux')">Linux<span class="ti-close pull-right"></span></a></li>
				        	<li class="list-group-item"><a @click="searchOS('Mac')">MacOs<span class="ti-close pull-right"></span></a></li>
				       		<li class="list-group-item"><a @click="searchOS('SteamOS ')">SteamOS <span class="ti-close pull-right"></span></a></li>
				      	</ul>	
      				</div>
					<rightPanel/>
				</div>
			</div>
		</div>
	</div>
</template>	
<script>
	/* eslint-disable */
	const querystring = require('querystring');
	import axios from 'axios'
	import rightPanel from '~/components/rightPanel.vue'

	export default {
		layout: 'default',
		/*asyncData ({ params, error }) {
			return axios.get(`gameshop`)
			.then((res) => {
			  return { row: res.data}
			})
			.catch((e) => {
			  error({ statusCode: 404, message: 'Post not found' })
			})
		},*/
		components:{
			rightPanel
		},
		data() {
        	return {
        		row: {},
        		page: this.$route.query.page,
        		search:this.$route.query.search,
      			title:this.$route.query.title || '',
        	}
        },
        created (){
    		this.getContent()
  		},
        methods: { 
        	watchGo(slug){
        		this.$router.push('/shop/'+slug)
        	},
        	searchPrice(min=0,max=10000){
		      this.$route.query.min_price=min
		      this.$route.query.max_price=max
		      this.$route.query.page=1
		      var query = querystring.stringify(this.$route.query)
		      history.pushState('', 'page','?'+query)
		      this.getContent()
		    },
		    searchGenre(genre=''){
		      this.$route.query.genre=genre
		      this.$route.query.page=1
		      var query = querystring.stringify(this.$route.query)
		      history.pushState('', 'page','?'+query)
		      this.getContent()
		    },
		    searchActivation(activation=''){
		      this.$route.query.activation=activation
		      this.$route.query.page=1
		      var query = querystring.stringify(this.$route.query)
		      history.pushState('', 'page','?'+query)
		      this.getContent()
		    }, 
		    searchOS(os=''){
		      this.$route.query.platform=os
		      this.$route.query.page=1
		      var query = querystring.stringify(this.$route.query)
		      history.pushState('', 'page','?'+query)
		      this.getContent()
		    }, 
		    searchTitle(){
		      this.$route.query.title=this.title
		      this.$route.query.page=1
		      var query = querystring.stringify(this.$route.query)
		      history.pushState('', 'page','?'+query)
		      this.getContent()
		    },   
		    searchClear(){
		      this.$router.push('/shop')
		      location.reload(true)
		      this.getContent()
		    },    
        	pager(page){
        		this.$route.query.page=page
			    var query = querystring.stringify(this.$route.query)
			    history.pushState('', 'page','?'+query)
			    this.getContent()
		    },	
        	getContent(){
      			let queryString = '?'+querystring.stringify(this.$route.query);	
		    	axios.get('gameshop'+queryString).then(res=>{
		        	this.row=res.data
		    	})
    		},		
        },
        head () {
			return {
				title: 'Epic Type. Интернет-магазин лицензионных игр',
				meta: [
					{ hid: 'description', name: 'description', content: 'Интернет-магазин EpicType. У нас можно купить лицензионные ключи для игр, ключи STEAM, Origin, Uplay, Battle.net, Minecraft. Купить ключи для STEAM недорого и с моментальной доставкой!' },
					{ hid: 'keywords', name: 'keywords', content:'купить компьютерные игры, магазин steam, магазин стим, онлайн магазин игр, магазин компьютерных игр, лицензионные игры, купить ключ активации, купить steam, купить инди игры, steam игры, купить ключи steam, купить игры на пк, купить ключ стим'} 
					
				]
			}
		}
	}
</script>
<style scoped>
	.card{margin-bottom:10px;padding:0px;cursor:pointer}	
	.card-body{padding:0px;}
	.card-title a, h5 a{color: #000;text-decoration:none;font-weight:800;}
	.v-images, .v-text{height:133px;overflow:hidden;padding:0px}
	.card-title,.card-text{ width: 100%;padding: 0px 2.5px;}
	.g-ytsubscribe{width:100%}
	.page-item{cursor:pointer;}
	@media (max-width:600px){
		.v-text{
			padding: 0px 15px !important;
		}
	}
	.game-filter{width:100%;padding:10px 0px;cursor:pointer;padding-bottom: 0px;}
	.game-filter form{padding:5px 15px;}
	.game-filter h5{padding:5px 15px;}
	.game-filter .list-group-item{border-radius:0px}
</style>