<template>
  	<div class="row">
  		<div class="row-md-12" v-if="typeof rows.playlist!=='undefined'">
	  		<div class="card right-item">
			  <img class="card-img-top" :src="rows.playlist.params.snippet.thumbnails.medium.url" alt="Card image cap">
			  <div class="card-body">
			    <h5 class="card-title">Прохождение игры {{rows.playlist.title}}</h5>
			    <nuxt-link :to="'/video/playlist/'+rows.playlist.slug" class="btn btn-primary">Подробнее</nuxt-link>
			  </div>
			</div>
		</div>
		<div class="row-md-12" v-if="typeof rows.video!=='undefined' && rows.video.params.snippet.thumbnails">
			<div class="card right-item">
			  <img class="card-img-top" :src="rows.video.params.snippet.thumbnails.medium.url" alt="Card image cap">
			  <div class="card-body">
			    <h5 class="card-title">Смотреть прохождение игры {{rows.video.title}}</h5>
			    <nuxt-link :to="'/video/watch/'+rows.video.slug" class="btn btn-primary">Подробнее</nuxt-link>
			  </div>
			</div>
		</div>
		<div class="row-md-12">
			<div class="card right-item">
			  <adsbygoogle />
			</div>
		</div>
		<div class="row-md-12" v-if="typeof rows.news!=='undefined'">	
			<div class="card right-item">
			  <div class="card-body">
			    <h5 class="card-title">{{rows.news.title}}</h5>
			    <div class="card-text" v-html="rows.news.params.preview"></div>
			    <nuxt-link :to="'/news/'+rows.news.slug" class="btn btn-primary">Подробнее</nuxt-link>
			  </div>
			</div>
		</div>
		<div class="row-md-12" v-if="typeof rows.games!=='undefined'">
			<div class="card right-item">
			  <img class="card-img-top" :src="rows.games.params.attachment.preview" alt="Card image cap">
			  <div class="card-body">
			    <h5 class="card-title">Купить {{rows.games.title}} за {{rows.games.params.prices}}</h5>
			    <nuxt-link :to="'/shop/'+rows.games.slug" class="btn btn-primary">Подробнее</nuxt-link>
			  </div>
			</div>
		</div>
	</div>
</template>
<script>
	/* eslint-disable */
	import axios from 'axios'

	export default {
		layout: 'default',
		data() {
        	return {
        		rows: {},
        	}
        },
        created(){
        	
        },	
        mounted () {
        	this.$http.get('components/randomright').then(res=>{
        		this.rows=res.data
        	})
        },
        methods: { 
        	watchGo(slug){
        		this.$router.push('/video/watch/'+slug)
        	}	
        }
	}
</script>

<style>
.right-item{margin:10px;background-color:transparent;border:0px;}
.right-item .card-body{padding:10px 0px;}
</style>
