<template>
	<div class="contents">
		<div class="blog-header">
			<div class="container">
	          	<div class="col-md-9" style="padding:0px;">	
		          	<h1 class="blog-title" style="font-size: 22px;">{{row.title}}</h1>
		          	<nav aria-label="breadcrumb" role="navigation">
					  <ol class="breadcrumb" style="background:transparent;padding:0px;">
					    <li class="breadcrumb-item"><nuxt-link to="/">Главная</nuxt-link></li>
					    <li class="breadcrumb-item" aria-current="page"><nuxt-link to="/news">Новости</nuxt-link></li>
					    <li class="breadcrumb-item active" aria-current="page">{{row.title}}</li>
					  </ol>
					</nav>
	        	</div>
	        </div>
		</div>
		<div class="main">
			<div class="row">
				<div class="col-md-8 left-block">
					<div v-html="row.params.preview" class="news-preview"></div>
					<div class="news-content">
						<span v-html="row.params.text"></span>
					</div>
					<div>Автор: {{row.params.author}}</div>
					<div>Опубликовано: {{row.created_at}}</div>
					<!--<div>Просмотров: {{row.params.view}}</div>-->
					<div>Источник: {{row.params.source}}</div>
					<adsbygoogle />	
				</div>
				<div class="col-md-4">
					<rightPanel/>
				</div>
			</div>
		</div>
	</div>
</template>	
<script>
	/* eslint-disable */
	import axios from 'axios'
	import rightPanel from '~/components/rightPanel.vue'
	export default {
		layout: 'default',
		asyncData ({ params, error }) {
			return axios.get(`news/${params.id}`)
			.then((res) => {
			  return { row: res.data}
			})
			.catch((e) => {
			  error({ statusCode: 404, message: 'Post not found' })
			})
		},
		components:{
			rightPanel
		},
		data() {
        	return {
        		row: {},
        	}
        },
        mounted () {
        	console.log(this.row)
        },
        methods: { 

        },
	  	head () {
			return {
				title: this.row.title,
				meta: [
					{ hid: 'description', name: 'description', content: this.row.params.preview }
				]
			}
		}
	}
</script>
<style>
	.news-content iframe, .news-content img{width:100%;min-height:400px;height:100%;}
	.card{margin-bottom:10px;padding:0px;}	
	.card-body{padding:0px;}
	.v-images, .v-text{height:153px;overflow:hidden;padding:0px}
	.card-title,.card-text{ width: 100%;padding: 0px 2.5px;}
	.news-preview{margin-top:10px;}
	.news-content{margin:25px 0px; white-space: pre-wrap !important; white-space: -moz-pre-wrap !important; white-space: -pre-wrap !important; white-space: -o-pre-wrap !important; word-wrap: break-word !important; }
</style>