<template>
	<div class="contents">
		<div class="blog-header">
			<div class="container">
	          	<div class="col-md-9" style="padding:0px;">	
		          	<h1 class="blog-title" style="font-size: 22px;">Новости</h1>
		          	<nav aria-label="breadcrumb" role="navigation">
					  <ol class="breadcrumb" style="background:transparent;padding:0px;">
					    <li class="breadcrumb-item"><nuxt-link to="/">Главная</nuxt-link></li>
					    <li class="breadcrumb-item active" aria-current="page">Новости</li>
					  </ol>
					</nav>
	        	</div>
	        </div>
		</div>
		<div class="main">
			<div class="row">
				<div class="col-md-8 left-block">
					<div class="row">
						<div class="col-xs-12 col-md-12">
							<p class="pl-head text-muted">
								Свежие новости игр со всего света, только актуальные события из мира компьютерных развлечений. В данном разделе игровые новости выходят каждый день. Мы тщательно отбираем только проверенную и актуальную информацию, поступающую из стана игровой индустрии. Здесь вы первыми узнаете об игровых анонсах, скандалах, нововведениях, переносах игр и т.д.
							</p>
						</div>
					</div>
					<div class="row" style="padding:10px">	
						<div class="card news-item" v-for="r of row.data" @click="newsGo(r.slug)">
					  		<div class="card-body news-item-body">
					    		<div><h3 style="font-size: 18px;font-weight: 800;"><nuxt-link :to="'/news/'+r.slug">{{r.title}}</nuxt-link></h3></div>
					    		<div v-html="r.params.preview"></div>
					    		<div><nuxt-link :to="'/news/'+r.slug" style="text-decoration:underline;">Читать полностью...</nuxt-link></div>
					  		</div>
						</div>
					</div>
					<div class="row"  style="padding:10px">
						<div class="col-xs-12">
							<nav aria-label="Page navigation example">
								<ul class="pagination">
									<li class="page-item active" v-if="row.current_page===1">
										<a class="page-link" @click="pager(1)">1</a>
									</li>
									<li class="page-item" v-else>
										<a class="page-link" @click="pager(1)">1</a>
									</li>
									<li class="page-item"><a class="page-link" href="" v-if="row.current_page>2">...</a></li>
									<li class="page-item" v-if="(row.current_page-2)>1"><a class="page-link" @click="pager(row.current_page-2)">{{row.current_page-2}}</a></li>
									<li class="page-item" v-if="(row.current_page-1)>1"><a class="page-link" @click="pager(row.current_page-1)">{{row.current_page-1}}</a></li>
									<li class="page-item active" v-if="row.current_page>1 && row.current_page<row.last_page" ><a class="page-link" @click="pager(row.current_page)">{{row.current_page}}</a></li>
									<li class="page-item" v-if="(row.current_page+1)<row.last_page"><a class="page-link" @click="pager(row.current_page+1)">{{row.current_page+1}}</a></li>
									<li class="page-item" v-if="(row.current_page+2)<row.last_page"><a class="page-link" @click="pager(row.current_page+2)">{{row.current_page+2}}</a></li>
									<li class="page-item" v-if="(row.last_page-4)>row.current_page"><a class="page-link" href="">...</a></li>
									<li class="page-item active" v-if="row.current_page===row.last_page && row.last_page>1"><a class="page-link" :href="'?page='+row.last_page">{{row.last_page}}</a></li>
									<li class="page-item" v-else-if="row.last_page>1"><a class="page-link" @click="pager(row.last_page)">{{row.last_page}}</a></li>		
								</ul>
							</nav>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="row" style="padding:10px;">
						<form class="form-inline mt-2 mt-md-0">
			            	<input class="form-control mr-sm-2" type="text" placeholder="Введите запрос" aria-label="Search" v-model="search">
			           		<button class="btn btn-outline-primary my-2 my-sm-0" type="button" @click="searchContent()">Найти</button>
			          	</form>
			        </div> 	
					<rightPanel/>
				</div>
			</div>
		</div>
	</div>
</template>	
<script>
	/* eslint-disable */
	const querystring = require('querystring');
	import axios from 'axios'
	import rightPanel from '~/components/rightPanel.vue'
	export default {
		layout: 'default',
		/*asyncData ({ params, error }) {
			return axios.get(`news`)
			.then((res) => {
			  return { row: res.data}
			})
			.catch((e) => {
			  error({ statusCode: 404, message: 'Post not found' })
			})
		},*/
		components:{
			rightPanel
		},
		data() {
        	return {
        		row: {},
        		page: this.$route.query.page,
        		search:this.$route.query.search
        	}
        },
        created (){
    		this.getContent()
  		},
        mounted () {
        	this.$meta().inject().titleChunk
        	='Новости игр'
        },
        methods: { 
        	newsGo(slug){
        		this.$router.push('/news/'+slug)
        	},
        	searchContent () {
        		this.$route.query.search=this.search
			    this.$route.query.page=1
			    var query = querystring.stringify(this.$route.query)
			    history.pushState('', 'page','?'+query)
			    this.getContent()
        	},
        	pager(page){
        		this.$route.query.page=page
			    var query = querystring.stringify(this.$route.query)
			    history.pushState('', 'page','?'+query)
			    this.getContent()
		    },	
        	getContent(){
      			let queryString = '?'+querystring.stringify(this.$route.query);
		    	axios.get('news'+queryString).then(res=>{
		        	this.row=res.data
		    	})
    		},	
        },
        head () {
			return {
				title: 'Новости игр',
				meta: [
					{ hid: 'description', name: 'description', content: 'новости игр, онлайн, игровые новости, ммо, многопользовательские, сетевые' },
					{ hid: 'keywords', name: 'keywords', content:'новости игр, онлайн, игровые новости, ммо, многопользовательские, сетевые'} 
					
					
				]
			}
		}
	}
</script>
<style>
	.news-item{padding:10px 5px!important;background-color:transparent;border:0px;cursor:pointer;}
	.news-item-body{padding:0px;}	
	.news-item-body a{color:#000;text-decoration: none;}
	.v-images, .v-text{overflow:hidden;}
	.card-title,.card-text{ width: 100%;}
	.pl-head{padding-top:10px;margin-bottom:0px;font-size:12px;}
	.page-item{cursor:pointer;}
</style>