<template>
	<div class="contents">
		<div class="blog-header">
			<div class="container">
		      	<div class="col-md-10" style="padding:0px;">	
		          	<h1 class="blog-title" style="font-size: 22px;">Смотреть прохождение игры {{ row.params.snippet.title }}</h1>
		          	<nav aria-label="breadcrumb" role="navigation">
					  <ol class="breadcrumb" style="background:transparent;padding:0px;">
					    <li class="breadcrumb-item"><nuxt-link to="/">Главная</nuxt-link></li>
					    <li class="breadcrumb-item"><nuxt-link to="/video">Видео</nuxt-link></li>
					    
					    <li class="breadcrumb-item active" aria-current="page">Смотреть прохождение игры {{row.params.snippet.title}}</li>
					  </ol>
					</nav>
		    	</div>
		    </div>
		</div>
		<div class="main">
		  	<div class="row">
		  		<div class="col-xs-12 col-md-8 left-block">
					<div class="cnt-lb">
		  				<iframe id="ytplayer" type="text/html" width="100%" height="360" :src="'http://www.youtube.com/embed/'+row.url+'?rel=0'" frameborder="0" allowfullscreen/>		
		  				<p v-html="row.params.snippet.description" class="text-sm-left" style="padding:5px"></p>
		  			</div>
		  			<h3 v-if="row.similar.length>0">Похожие видео</h3>
		  			<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="padding:10px" v-if="row.similar.length>0">
					  <ol class="carousel-indicators">
					    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
					    <li data-target="#carouselExampleIndicators" :data-slide-to="i" v-for="(s,i) of row.similar" v-if="i>0"></li>
					    
					  </ol>
					  <div class="carousel-inner">
					    <div class="carousel-item active">
					      <img class="d-block" :src="row.similar[0].params.snippet.thumbnails.high.url" width="100%" height="360" style="object-fit:contain" :alt="'Смотреть прохождение игры '+row.similar[0].params.snippet.title"@click="videoGo(row.similar[0].slug)">
					      <div class="carousel-caption d-none d-md-block">
						    <h5 style="color:#000;background:#eee;opacity:0.7" >Смотреть прохождение игры {{row.similar[0].params.snippet.title}}</h5>
						  </div>
					    </div>
					    <div class="carousel-item" v-for="(s,i) of row.similar" v-if="i>0" >
					      <img class="d-block" :src="s.params.snippet.thumbnails.high.url" width="100%" height="360" style="object-fit:contain" :alt="'Смотреть прохождение игры '+s.params.snippet.title" @click="videoGo(s.slug)">
					      <div class="carousel-caption d-none d-md-block">
						    <h5 style="color:#000;background:#eee;opacity:0.7">Смотреть прохождение игры {{s.params.snippet.title}}</h5>
						  </div>
					    </div>
					    
					  </div>
					  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
					    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
					    <span class="sr-only">Previous</span>
					  </a>
					  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
					    <span class="carousel-control-next-icon" aria-hidden="true"></span>
					    <span class="sr-only">Next</span>
					  </a>
					</div>
					<adsbygoogle />
		  		</div>
		  		<div class="col-md-4">
					<rightPanel/>
				</div>
		  	</div>
	  	</div>
	</div>
</template>
<script>
	/*eslint-disable*/
	import axios from 'axios'
	import rightPanel from '~/components/rightPanel.vue'

	export default {
	  	layout: 'default',
	  	asyncData ({ params, error }) {
		    return axios.get(`channel/watch/${params.id}`) 
		    .then((res) => {
		      return { row: res.data}
		    })
	    	.catch((e) => {
	      		error({ statusCode: 404, message: 'Post not found' })
	    	})
	  	},
	  	components:{
			rightPanel
		},
	  	data () {
		    return {
		      row: {},
		      first: ''
		    }
	  	},
	  	methods:{
	  		videoGo(slug){
        		this.$router.push('/video/watch/'+slug)
        	},
	  	},
	  	mounted(){
	  		console.log(this.row)
	  	},
	  	head () {
			return { 
				title: 'Смотреть прохождение игры '+this.row.params.snippet.title,
				meta: [
					{ hid: 'description', name: 'description', content: 'Смотреть прохождение игры '+this.row.params.snippet.title+' '+this.row.params.snippet.description }
				]
			}
		}
	}  
	  
</script>
