<template>
  <div style="padding:0px;margin:0px;min-height:100vh;background: url('/img/fon/fon2.png') no-repeat;background-position: center 56px;">
  	<nav class="navbar navbar-expand-lg navbar-dark bg-dark  navbar-fixed-top">
	  <div class="container">
		  <a class="navbar-brand" href="/">EpicType.ru</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarNav">
		    <ul class="navbar-nav">
		      <li class="nav-item active">
		        <nuxt-link class="nav-link" to="/">Главная</nuxt-link>
		      </li>
		     <!-- <li class="nav-item">
		        <nuxt-link class="nav-link" to="/video">Видео</nuxt-link>
		      </li>
		      <li class="nav-item dropdown">
		        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		          Видео
		        </a>
		        <div class="dropdown-menu text-dark" aria-labelledby="navbarDropdown">
		          	<nuxt-link class="dropdown-item" to="/">Видео обзор игр</nuxt-link>
		          	<nuxt-link class="dropdown-item" to="/video">Все видео</nuxt-link>
		          	<nuxt-link class="dropdown-item" to="/video/playlist">Прохождения игр</nuxt-link>
		        </div>
		      </li>-->
		      <li class="nav-item">
		        <nuxt-link class="nav-link" to="/video">Видео прохождение игр</nuxt-link>
		      </li>
		      <li class="nav-item">
		        <nuxt-link class="nav-link" to="/video/playlist">Прохождения игр</nuxt-link>
		      </li>
		      <li class="nav-item">
		        <nuxt-link class="nav-link" to="/news">Новости</nuxt-link>
		      </li>
		      <li class="nav-item">
		        <nuxt-link class="nav-link" to="/shop">Магазин игр</nuxt-link>
		      </li>
		      <li class="nav-item">
		        <nuxt-link class="nav-link" to="/faq">FAQ</nuxt-link>
		      </li>
					<li class="nav-item">
		        <nuxt-link class="nav-link" to="/sales">Снижение цен</nuxt-link> 
		      </li>
		    </ul>
		  </div>
	  </div>
	</nav>
    <div class="body">
  		<div class="container cnt">
  			<nuxt />
  		</div>	
  	</div>
    <footer class="footer">
	  	<div class="container">
	    	<div class="row">
	    		<div class="col-sm"> 
	    			<div class="list-group" id="list-tab" role="tablist">
				      <nuxt-link class="list-group-item list-group-item-action active mitem" id="list-home-list" data-toggle="list" to="/" role="tab" aria-controls="home">Видео обзоры игр</nuxt-link>
				      <nuxt-link class="list-group-item list-group-item-action mitem" id="list-profile-list" data-toggle="list" to="/video" role="tab" aria-controls="profile">Все видео обзоры</nuxt-link>
				      <nuxt-link class="list-group-item list-group-item-action mitem" id="list-messages-list" data-toggle="list" to="/video/playlist" role="tab" aria-controls="messages">Прохождения игр</nuxt-link>
				      <nuxt-link class="list-group-item list-group-item-action mitem" id="list-settings-list" data-toggle="list" to="/shop" role="tab" aria-controls="settings">Магазин игр</nuxt-link>
				    </div>	
			    </div>
			    <div class="col-sm">
			      <div class="list-group" id="list-tab" role="tablist">
				      <nuxt-link class="list-group-item list-group-item-action active mitem" id="list-home-list" data-toggle="list" to="/news" role="tab" aria-controls="home">Новости игр</nuxt-link>
				      <!--<a class="list-group-item list-group-item-action mitem" id="list-profile-list" data-toggle="list" href="#" role="tab" aria-controls="profile">Все видео обзоры</a>
				      <a class="list-group-item list-group-item-action mitem" id="list-messages-list" data-toggle="list" href="#" role="tab" aria-controls="messages">Прохождения игр</a>-->
				      <nuxt-link class="list-group-item list-group-item-action mitem" id="list-settings-list" data-toggle="list" to="/faq" role="tab" aria-controls="settings">FAQ</nuxt-link>
				    </div>	
			    </div>
			    <div class="col-sm">
			      <div class="list-group" id="list-tab" role="tablist">
				      <!--<a class="list-group-item list-group-item-action active mitem" id="list-home-list" data-toggle="list" href="#" role="tab" aria-controls="home">Видео обзоры игр</a>
				      <a class="list-group-item list-group-item-action mitem" id="list-profile-list" data-toggle="list" href="#" role="tab" aria-controls="profile">Все видео обзоры</a>
				      <a class="list-group-item list-group-item-action mitem" id="list-messages-list" data-toggle="list" href="#" role="tab" aria-controls="messages">Прохождения игр</a>
				      <a class="list-group-item list-group-item-action mitem" id="list-settings-list" data-toggle="list" href="#" role="tab" aria-controls="settings">FAQ</a>-->
				    </div>	
			    </div>
			    <div class="col-sm">
			      <div class="list-group" id="list-tab" role="tablist">
				      <!--<a class="list-group-item list-group-item-action active mitem" id="list-home-list" data-toggle="list" href="#" role="tab" aria-controls="home">Видео обзоры игр</a>
				      <a class="list-group-item list-group-item-action mitem" id="list-profile-list" data-toggle="list" href="#" role="tab" aria-controls="profile">Все видео обзоры</a>
				      <a class="list-group-item list-group-item-action mitem" id="list-messages-list" data-toggle="list" href="#" role="tab" aria-controls="messages">Прохождения игр</a>
				      <a class="list-group-item list-group-item-action mitem" id="list-settings-list" data-toggle="list" href="#" role="tab" aria-controls="settings">FAQ</a>-->
				    </div>	
			    </div>
			    <div><img src="https://mc.yandex.ru/watch/47557876" style="position:absolute; left:-9999px;" alt="" /></div>		
	    	</div>
	    	<div class="row">
	    		<div class="col-sm" style="color:#fff;"> 
	    			<blockquote class="text-center">
	    				<p class="mb-0">Все права защищены.</p>
	    				<p class="mb-0">&copy; EpicType.ru, 2014 &mdash; 2018</p>
	    				<p class="mb-0">Designed and built by <a href="//monkeydevstudio.ru" target="_blank" style="color:#fff">Monkey Developers Studio Ru</a></p>
	    			</blockquote>	
	    		</div>
	    	</div>
	  	</div>
	</footer>  
  </div>
</template>
<script>
	/*eslint-disable*/
	import Vue from 'vue'
	import VueResource from 'vue-resource'
	Vue.use(VueResource)
	export default {
		data () {
		    return {
		      	title: '',
		      	bread: ''
		    }
	  	},
		mounted(){
			this.bread = this.$route.name.split('-')
			var breadPop = this.bread.pop()
			console.log(this.bread)	
			this.title=this.$meta().inject().titleChunk
		}
	}
</script>
<style>
body,html{
	background:#000;
}
.body{
	max-width:966px;
	min-height: calc(100vh-56px-173px-123px);
	background:#ddd;
	margin:0px auto;
}
.navbar-fixed-top{
	position:sticky;
	top:0px;
	z-index:999
}
.cnt{
	padding:0px;
}
.contents{
	margin-top:173px;
}
.main{
	padding:0px 15px;
	min-height: 100%;
}
.footer{
	width:966px;
	margin:0px auto;
	background: #325269;
	padding:15px;
}
.mitem, .mitem:hover,.mitem.active{
	background:transparent;
	color:#fff;
	border:0px;
	padding:0px .5rem;
}
.blog-header{
	padding:0px;
	margin:0px;
	padding-top: .75rem;
	padding-bottom: .25rem;
    border-bottom: .1rem solid #ccc;
}
.left-block{
	border-right: .1rem solid #ccc;
	min-height: calc(100vh-56px-173px-123px-92px);
}
.cnt-lb{margin-top:15px;margin-bottom:15px;}
@media (max-width:600px){
	.footer{
		width:100%;
	}
}
</style>