<template>
	<div class="contents">
		<div class="blog-header">
			<div class="container">
	          	<div class="col-md-10" style="padding:0px;">	
		          	<h1 class="blog-title" style="font-size: 22px;">Часто задаваемые вопросы</h1>
		          	<nav aria-label="breadcrumb" role="navigation">
					  <ol class="breadcrumb" style="background:transparent;padding:0px;">
					    <li class="breadcrumb-item"><nuxt-link to="/">Главная</nuxt-link></li>
					    <li class="breadcrumb-item active" aria-current="page">FAQ</li>
					  </ol>
					</nav>
	        	</div>
	        </div>
		</div>
		<div class="main">
			<div class="row" >
				<div class="col-xs-8 col-md-8 left-block">
					<div style="padding:10px">	
						Что же такое F.A.Q..? Все просто: это сокращение от англ. <a href="http://en.wikipedia.org/wiki/FAQ" title="FAQ" target="_blank" rel="nofollow">Frequently Asked Questions</a> - Часто Задаваемые Вопросы.<br/>
						<br/>
						И вот наиболее частые из них:<br/>
						<ol>
						<li>Можно с вами поиграть?<br/><br/>
						Вы всегда сможете поиграть с нами в различных онлайн играх. К тому же у нас существует специальная тема для ваших заявок на участие в играх с нами (<a href="http://vk.com/topic-41322703_27280875" title="заявки на участие в играх" target="_blank">тут</a>)</li>
						<br/>
						<li>Когда следующая серия?<br/><br/>
						Это самый частый вопрос.. И мне он уже очень надоел.. :) Каждый день выходит не меньше двух новых видео, неужели вам мало? Кооперативные видео выходят как только всем участникам удается собраться вместе, в удобное для них время, и снять их. Проявите терпение.</li> 
						<br/>
						<li>Сделай прохождение Skyrim, GTA и тд.<br/><br/>
						Свои заявки на игры, которые вы хотите увидеть или предложения оставляйте <a href="http://vk.com/topic-41322703_27046731" title="заявки на игры" target="_blank" rel="nofollow">здесь</a>
						</li>
						<br/>
						<li>Чем ты снимаешь? Чем ты монтируешь?<br/><br/>
						Раньше снимал программой <a href="http://ru.wikipedia.org/wiki/Fraps" title="Fraps" target="_blank" rel="nofollow">fraps (версия 3.5.3)</a>, сейчас снимаю картой видеозахвата AverMedia LiveGamer HD. Монтирую в программе <a href="http://ru.wikipedia.org/wiki/%D0%9A%D0%B8%D0%BD%D0%BE%D1%81%D1%82%D1%83%D0%B4%D0%B8%D1%8F_Windows" title="Киностудия Windows Live" target="_blank" rel="nofollow">Киностудия Windows Live</a> и <a href="http://ru.wikipedia.org/wiki/Sony_Vegas" title="Sony Vegas Pro 11" target="_blank" rel="nofollow">Sony Vegas Pro 11</a>.</li>
						<br/>
						<li>Почему у меня не работает майнкрафт, не заходит в игру, лагает и тд..?<br/><br/>
						Я не маг и волшебник, и не могу помочь всем и каждому. К тому же я не экстрасенс, поэтому если вы хотите что бы я вам помог пишите пожалуйста подробнее суть проблемы, что как и почему. Вопросы типа: &laquo;Почему у меня не заходит?&raquo; буду игнорировать, так как куда заходит и зачем человек не удосужился написать, а значит проблема его не особо и беспокоит.. :)</li>
						<br/>
						<li>Дай ссылку на майнкрафт/что за песня звучит.<br/><br/>
						Все ссылки всегда есть под видео в описании, так же я не однократно говорил в видео что клиент minecraft есть в нашей группе в разделе документы. Что же касается музыки, звучащей во время прохождения - названия всех песен всегда написаны в описании под видео.</li>
						<br/>
						<li>Могу ли я как то помочь проекту?<br/><br/>
						Если вам нравятся наши видео, вы вступили в группу или подписались на канал - вы уже нам очень помогли. Так же не забывайте про комментарии к новым видеороликам, они очень важны для нас. Вы так же можете рассказать о нас своим друзьям и позвать их в группу, это тоже приветствуется! :)
						<br/>
						Также помочь каналу можно <a href="https://streamgun.com/donate/valdai_et" target="_blank">донатом</a>
						</li>
						<br/>
						<li>Возьмите меня админом в группу/сервер.<br/><br/>
						Мы вполне справляемся своими силами.
						Возможно в дальнейшем состав админов будет расширен. Об этом мы сообщим на стене группы.</li>
						<br/>
						<li>&laquo;Valdai сними плиз Garry's Mod, Dota 2, Warface, World of Tanks!!!&raquo; - нет, этих игр никогда не будет на этом канале.</li>
						<br/>
						<li>Какие характеристики твоего ПК? Какие у тебя консоли?<br/><br/>
						Подробные характеристики моего ПК вы можете увидеть <a href="http://vk.com/topic-41322703_28378417" title="Характеристики ПК Валдая" target="_blank"rel="nofollow">здесь</a>. У меня есть ps3 и ps4.</li>
						<br/>
						<li>Пока все, но скоро продолжу писать тут новые вопросы и ответы на них. :) Так что заглядывайте сюда почаще.. :)</li>
						</ol>
					</div>
				</div>
				<div class="col-md-4">
					<rightPanel/>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	/* eslint-disable */
	import axios from 'axios'
	import rightPanel from '~/components/rightPanel.vue'
	export default {
		layout: 'default',
		components:{
			rightPanel
		},
        head () {
			return {
				title: 'Часто задаваемые вопросы',
				meta: [
					{ hid: 'description', name: 'description', content: 'Только самые лучшие игры и интересные видео. Обзоры новинок, прохождения с упором на сюжет и атмосферу игры, консольные эксклюзивы на PS3, PS4 и Xbox One, а также различные кооперативные летсплеи. Свыше 3000 эпичных видеороликов на любой вкус. Здесь вам точно не будет скучно. Каждый день выходят по 2 или 3 новых видео. Подписывайся и ты на, пожалуй, самый эпичный канал - Epic Type.' }
				]
			}
		}
	}
</script>