<template>
	<div class="contents">
		<div class="blog-header">
			<div class="container">
		      	<div class="col-md-10" style="padding:0px;">	
		          	<h1 class="blog-title" style="font-size: 22px;">Игровой канал Epic Type</h1>
		          	<nav aria-label="breadcrumb" role="navigation">
					  <ol class="breadcrumb" style="background:transparent;padding:0px;">
					    <li class="breadcrumb-item active">Главная</li>
					  </ol>
					</nav>
		    	</div>
		    </div>
		</div>
		<div class="main">
			<div class="row">
				<div class="col-md-8 left-block">
					<div class="cnt-lb">
						<div class="card round">
				         	<iframe id="ytplayer" type="text/html" width="100%" height="360" :src="'http://www.youtube.com/embed/'+row.data[0].params.contentDetails.videoId+'?rel=0'" frameborder="0" allowfullscreen/>
				         	<h5 class="mt-0" style="line-height:0.9;padding:0px 5px;padding-top:10px!important"><nuxt-link :to="'/video/watch/' + row.data[0].slug" class="alink">{{row.data[0].params.snippet.title}}</nuxt-link></h5>
				        </div>	
						<div v-for="(r,i) of row.data">
							<div class="card" v-if="i>0 && r.params.snippet.thumbnails">
						      <div class="card-body main-card">
						        <div class="row">
						        	<div class="col-md-5">
						        		<div class="v-images">
						        			<img :src="r.params.snippet.thumbnails.medium.url" style="width:100%;">
						        		</div>
						        	</div>
						        	<div class="col-md-7 v-text">
						        		<div style="width:100%;padding-right:10px">
							        		<h2 style="font-size:1.17em;" 	class="card-title"><nuxt-link :to="'/video/watch/'+r.slug">{{r.params.snippet.title}}</nuxt-link></h2>
							        		<p class="card-text" v-html="r.params.snippet.description"></p>
						      			</div>
						      		</div>
						      	</div>
						      </div>
						    </div>
							
						</div>			
					</div>			
				</div>
				<div class="col-md-4">
					<div class="row">
						<div class="col-md-12">
							<h3>О канале</h3>
							<p>
								Только самые лучшие игры и интересные видео. Обзоры новинок, прохождения с упором на сюжет и атмосферу игры, консольные эксклюзивы на PS3, PS4 и Xbox One, а также различные кооперативные летсплеи. Свыше 2000 эпичных видеороликов на любой вкус. Здесь вам точно не будет скучно.
								<br/><br/>
								Каждый день выходят по 2 или 3 новых видео.
								<br/><br/>
								Подписывайся и ты на, пожалуй, самый эпичный канал - Epic Type.
								<br/><br/>
								Автор канала: <a href="http://vk.com/va1dai" target="_blank">Valdai</a>
							</p>
							<p>
								<a href="https://vk.com/epictype" target="_blank">ВК</a><br/>
								<a href="https://ok.ru/group/52256308920405" target="_blank">Одноклассники</a><br/>
								<a href="https://www.youtube.com/user/EpicType" target="_blank">Youtube</a><br/>
								<a href="https://plus.google.com/+EpicType?rel=author" target="_blank">Google</a><br/>
								<a href="https://twitter.com/EpicTypeChannel" target="_blank">Twitter</a><br/>
								<a href="http://steambuy.com/EpicType" target="_blank">Я покупаю игры тут</a><br/>
								<a href="https://www.instagram.com/epictype_channel/?ref=badge" target="_blank">Instagram</a>
							</p>
							<div class="g-ytsubscribe" data-channel="Epictype" data-layout="full" data-count="default"></div>

							<rightPanel/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>	
<script>
	/* eslint-disable */
	import axios from 'axios'
	import rightPanel from '~/components/rightPanel.vue'
	export default {
		layout: 'default',
		asyncData ({ params, error }) {
			return axios.get(`channel/video?main=1`)
			.then((res) => {
			  return { row: res.data}
			})
			.catch((e) => {
			  error({ statusCode: 404, message: 'Post not found' })
			})
		},
		components:{
			rightPanel
		},
		data() {
        	return {
        		row: {},
        	}
        },
        mounted () {
        	
        },
        methods: { 

        },
        head () {
			return {
				title: 'Игровой канал Epic Type',
				meta: [
					{ hid: 'description', name: 'description', content: 'Только самые лучшие игры и интересные видео. Обзоры новинок, прохождения с упором на сюжет и атмосферу игры, консольные эксклюзивы на PS3, PS4 и Xbox One, а также различные кооперативные летсплеи. Свыше 3000 эпичных видеороликов на любой вкус. Здесь вам точно не будет скучно. Каждый день выходят по 2 или 3 новых видео. Подписывайся и ты на, пожалуй, самый эпичный канал - Epic Type.' }
				]
			}
		}
	}
</script>
<style scoped>
	.card{margin-bottom:10px;padding:0px;cursor:pointer}	
	.card-body{padding:0px;}
	.card-title a, h5 a{color: #000;text-decoration:none;font-weight:800;}
	.v-images, .v-text{height:133px;overflow:hidden;padding:0px}
	.card-title,.card-text{ width: 100%;padding: 0px 2.5px;}
	.g-ytsubscribe{width:100%}
	@media (max-width:600px){
		.v-text{
			padding: 0px 15px !important;
		}
	}
</style>
