<template>
	<div class="contents">
		<div class="blog-header">
			<div class="container">
		      	<div class="col-md-10" style="padding:0px;">	
		          	<h1 class="blog-title" style="font-size: 22px;">Прохождение игры {{ row.params.snippet.title }}</h1>
		          	<nav aria-label="breadcrumb" role="navigation">
					  <ol class="breadcrumb" style="background:transparent;padding:0px;">
					    <li class="breadcrumb-item"><nuxt-link to="/">Главная</nuxt-link></li>
					    <li class="breadcrumb-item"><nuxt-link to="/video">Видео</nuxt-link></li>
					    <li class="breadcrumb-item"><nuxt-link to="/video/playlist">Плейлисты</nuxt-link></li>
					    <li class="breadcrumb-item active" aria-current="page">Прохождение игры {{row.params.snippet.title}}</li>
					  </ol>
					</nav>
		    	</div>
		    </div>
		</div>
		<div class="main">
		<div class="row">
			<div class="ccol-xs-8 col-md-8 left-block">
				<div class="row" style="padding: 5px">
					<div class="col-md-12">
						<p v-html="row.params.snippet.description"></p>
					</div>
				</div>
				<div class="row" style="padding: 10px">
						<div class="col-xs-12 col-md-4" v-for="r of row.videos" style="padding:5px">
							<div class="card video-item" @click="watchGo(r.slug)" >
								<img class="card-img-top" :src="r.params.snippet.thumbnails.medium.url" alt="Card image cap">
							  	<div class="card-body video-item-body">
							    	<center><h3><nuxt-link :to="'/video/watch/'+r.slug">Смотреть прохождение игры {{r.params.snippet.title}}</nuxt-link></h3></center>
							  	</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<rightPanel/>
				</div>
			</div>
		</div>
	</div>
</template>	
<script>
	/* eslint-disable */
	import axios from 'axios'
	import rightPanel from '~/components/rightPanel.vue'
	export default {
		layout: 'default',
		asyncData ({ params, error }) {
			return axios.get(`channel/playlist/${params.id}`)
			.then((res) => {
			  return { row: res.data}
			})
			.catch((e) => {
			  error({ statusCode: 404, message: 'Post not found' })
			})
		},
		components:{
			rightPanel
		},
		data() {
        	return {
        		row: {},
        	}
        },
        mounted () {
        	console.log(this.row)
        },
        methods: { 
        	watchGo(slug){
        		this.$router.push('/video/watch/'+slug)
        	}
        },
        head () {
			return {
				title: 'Прохождение игры '+this.row.params.snippet.title,
				meta: [
					{ hid: 'description', name: 'description', content: this.row.params.snippet.description }
				]
			}
		}
	}
</script>
<style>
	.video-item{margin-bottom:10px;padding:0px;background-color:transparent;border:0px;overflow:hidden;cursor:pointer;}	
	.video-item-body{padding:5px 0px;height:55px;line-height: 1.2em;}
	.video-item-body h3{font-size: 14px!important;font-weight: 800!important;}
	.video-item-body a{color:#000;text-decoration: none;}
	.v-images, .v-text{height:170px;overflow:hidden;padding:0px}
	.card-title,.card-text{ width: 100%;padding: 0px 2.5px;}
	.video-item img{max-height:111px;object-fit:cover;}

</style>