<template>
	<div class="contents">
		<div class="blog-header">
			<div class="container">
		      	<div class="col-md-10" style="padding:0px;">	
		          	<h1 class="blog-title" style="font-size: 22px;">Смотреть прохождение игр </h1>
		          	<nav aria-label="breadcrumb" role="navigation">
					  <ol class="breadcrumb" style="background:transparent;padding:0px;">
					    <li class="breadcrumb-item"><nuxt-link to="/">Главная</nuxt-link></li>
					    <li class="breadcrumb-item" aria-current="page"><nuxt-link to="/video">Видео</nuxt-link></li>
					    <li class="breadcrumb-item active" aria-current="page">Плейлисты</li>
					  </ol>
					</nav>
		    	</div>
		    </div>
		</div>
		<div class="main">
			
			<div class="row">
				<div class="col-xs-8 col-md-8 left-block">
					<div class="row">
						<div class="col-xs-12 col-md-12">
							<p class="pl-head text-muted">
								Устали читать рецепты по прохождению игры, смотрите прохождение игры на видео. Самый полный каталог прохождения популярных игр, а также сложные игры в которых необходимо знать лазейки. Легче пройти самому, чем использовать читы, смотри на видео как пройти игру.
							</p>
						</div>
					</div>
					<div class="row" style="padding: 10px">	
						<div class="col-xs-12 col-md-4" v-for="r of row.data" style="padding:5px">
							<div class="card video-item" @click="playlistGo(r.slug)" v-if="r.params!==null">
								<img class="card-img-top video-item-img" :src="r.params.snippet.thumbnails.medium.url" alt="Card image cap">
							  	<div class="card-body video-item-body">
							    	<center><h3><nuxt-link :to="'/video/playlist/'+r.slug">Прохождение игры {{r.params.snippet.title}}</nuxt-link></h3></center>
							  	</div>
							</div>
							<div class="card video-item" @click="playlistGo(r.slug)" v-else>
								<img class="card-img-top" src="http://i1.ytimg.com/vi//img/plogo.png/mqdefault.jpg" alt="Card image cap">
							  	<div class="card-body video-item-body">
							    	<center><h3><nuxt-link :to="'/video/watch/'+r.slug">Без плейлиста</nuxt-link></h3></center>
							  	</div>
							</div>
						</div>
					</div>
					<div class="col-xs-12">
						<nav aria-label="Page navigation example">
							<ul class="pagination">
								<li class="page-item active" v-if="row.current_page===1">
								<a class="page-link" @click="pager(1)">1</a>
								</li>
								<li class="page-item" v-else>
									<a class="page-link" @click="pager(1)">1</a>
								</li>
								<li class="page-item" v-if="(row.current_page-2)>1"><a class="page-link" @click="pager(row.current_page-2)">{{row.current_page-2}}</a></li>
								<li class="page-item" v-if="(row.current_page-1)>1"><a class="page-link" @click="pager(row.current_page-1)">{{row.current_page-1}}</a></li>
								<li class="page-item active" v-if="row.current_page>1 && row.current_page<row.last_page" ><a class="page-link" @click="pager(row.current_page)">{{row.current_page}}</a></li>
								<li class="page-item" v-if="(row.current_page+1)<row.last_page"><a class="page-link" @click="pager(row.current_page+1)">{{row.current_page+1}}</a></li>
								<li class="page-item" v-if="(row.current_page+2)<row.last_page"><a class="page-link" @click="pager(row.current_page+2)">{{row.current_page+2}}</a></li>
								<li class="page-item active" v-if="row.current_page===row.last_page && row.last_page>1"><a class="page-link" :href="'?page='+row.last_page">{{row.last_page}}</a></li>
								<li class="page-item" v-else-if="row.last_page>1"><a class="page-link" @click="pager(row.last_page)">{{row.last_page}}</a></li>									    
							</ul>
						</nav>
					</div>
				</div>
				<div class="col-md-4">
					<div class="row" style="padding:10px;">
						<form class="form-inline mt-2 mt-md-0">
			            	<input class="form-control mr-sm-2" type="text" placeholder="Введите запрос" aria-label="Search" v-model="search">
			           		<button class="btn btn-outline-primary my-2 my-sm-0" type="button" @click="searchContent()">Найти</button>
			          	</form>
			        </div> 	
					<rightPanel/>
				</div>
			</div>
		</div>
	</div>
</template>	
<script>
	/* eslint-disable */
	const querystring = require('querystring');
	import axios from 'axios'
	import rightPanel from '~/components/rightPanel.vue'
	export default {
		layout: 'default',
		/*asyncData ({ params, error }) {
			return axios.get('channel/playlist')
			.then((res) => {
			  return { row: res.data}
			})
			.catch((e) => {
			  error({ statusCode: 404, message: 'Post not found' })
			})
		},*/
		components:{
			rightPanel
		},
		data() {
        	return {
        		row: {},
        		page: this.$route.query.page,
        		search:this.$route.query.search
        	}
        },
        created (){
    		this.getContent()
  		},
        methods: { 
        	playlistGo(slug){
        		this.$router.push('/video/playlist/'+slug)
        	},
        	searchContent () {
        		this.$route.query.search=this.search
			    this.$route.query.page=1
			    var query = querystring.stringify(this.$route.query)
			    history.pushState('', 'page','?'+query)
			    this.getContent()
        	},
        	pager(page){
        		this.$route.query.page=page
			    var query = querystring.stringify(this.$route.query)
			    history.pushState('', 'page','?'+query)
			    this.getContent()
		    },	
        	getContent(){
        		let queryString = '?'+querystring.stringify(this.$route.query);
		    	axios.get('channel/playlist'+queryString).then(res=>{
		        	this.row=res.data
			       	console.log(this.row)
		    	})
    		},
        },
        head () {
			return {
				title: 'Видео прохождение игр ',
				meta: [
					{ hid: 'description', name: 'description', content: 'Видео прохождение и обзор игр. Полное видео прохождение игр бесплатное и онлайн.' }
				]
			}
		}
	}
</script>
<style>
	.video-item{margin-bottom:10px;padding:0px;background-color:transparent;border:0px;overflow:hidden;cursor:pointer;}	
	.video-item-body{padding:5px 0px;height:55px;line-height: 1.2em;}
	.video-item-body h3{font-size: 14px!important;font-weight: 800!important;}
	.video-item-body a{color:#000;text-decoration: none;}
	.v-images, .v-text{height:170px;overflow:hidden;padding:0px}
	.card-title,.card-text{ width: 100%;padding: 0px 2.5px;}
	.video-item img{max-height:111px;object-fit:cover;}
	.pl-head{padding-top:10px;margin-bottom:0px;font-size:12px;}
	.page-item{cursor:pointer;}
</style>